body{
    background-color: lightblue;
}
.container{
    width:300px;
    margin: 500px auto;
    background-color: plum;
    padding: 30px;
    border-radius:10px;
}
h2{
    text-align: center;
}
.form-group{
    margin-bottom: 15px;
}
input{
    width: 100%;
    padding: 10px;
    background-color: rgb(253, 229, 252);
    color: black;
    border: none;
}
.error{
    color: red;
    font-size: 15px;
}
button{
    background-color: purple;
    color:white;
    border:none;
    padding: 5px;
    width:100px;
}